:root {
  --clr-purple: 257 70% 48%;
  --clr-white: 0 0% 100%;
  --clr-gray-600: 210 6% 7%;
  --clr-gray-150: 206 15% 91%;
  --clr-gray-100: 200 23% 97%;
  --clr-gray-300: 207 4% 43%;
  --clr-gray-400: 204, 4%, 25%;
}

/* Reset  */
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

svg,
img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  line-height: 1.5;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.image-contain {
  object-fit: contain;
  object-position: center;
}

.skill-up-banar p {
  color: hsl(var(--clr-white));
  text-align: center;
}

.skill-up-banar {
  background-color: hsl(var(--clr-purple));
  max-height: 4rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.btn-exit {
  width: 0.75rem;
  cursor: pointer;
}

.skill-up-ad {
  flex-grow: 1;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.wrapper-normal {
  padding: 2rem;
  border: 2px solid hsl(var(--clr-gray-150));
}

.wrapper-normal > * + * {
  margin-top: 1rem;
}

.carousel-main {
  position: relative;
  overflow: hidden;
}

.carousel-1 {
  transition: transform 1s;
}

main:has(.carousel-btn:hover) .carousel-1 {
  transform: translateX(100%);
}

.text-section {
  background-color: hsl(var(--clr-white));
  position: absolute;
  top: 4rem;
  left: 5rem;
  padding: 1.5rem;
  max-width: 35rem;
  box-shadow: 0 0 1rem -0.5rem hsl(var(--clr-gray-600) / 0.5);
}

.text-section p {
  max-width: 45ch;
}

.carousel-btn {
  background: hsl(var(--clr-gray-600));
  border-radius: 50%;
  aspect-ratio: 1;
  padding: 0.5rem;
  width: 2.5rem;
  position: absolute;
  top: 50%;
  --margin: 1rem;
  margin-left: var(--margin);
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.align-right {
  right: 0;
  margin-right: var(--margin);
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0rem 1.5rem;
  box-shadow: 0rem 0.5rem 1rem -0.5rem hsl(var(--clr-gray-600) / 0.5);
  min-height: 4rem;
}

header {
  z-index: 3;
  position: relative;
}

.flex {
  display: flex;
  gap: 0.5rem;
}

.logo {
  width: 6rem;
}
.magnifying-glass {
  width: 2rem;
}

.search-bar {
  border: solid 1px;
  border-radius: 2rem;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  flex: 2;
}
.search-bar input {
  border: none;
  width: 100%;
}

.search-bar input:focus {
  outline: 0px;
}

.button {
  padding: 0.75rem 1rem;
  outline: none;
  border: solid 1px;
  cursor: pointer;
}

.bg-clr-white {
  background: hsl(var(--clr-white));
}

.clr-white {
  color: hsl(var(--clr-white));
}
.bg-clr-black {
  background: hsl(var(--clr-gray-600));
}

.clr-black {
  color: hsl(var(--clr-gray-600));
}

.categories {
  position: relative;
  align-self: stretch;
}

.categories > p {
  cursor: pointer;
  height: 100%;
  margin-top: 1.25rem;
}

.categories:has(p:hover) .categories-panel,
.categories-panel:hover {
  display: flex;
}

.categories-panel {
  min-width: 30rem;
  min-height: 38rem;
  background-color: hsl(var(--clr-white));
  position: absolute;
  inset: 4.25rem 0rem;
  display: none;
  flex-direction: row;
  box-shadow: 0 0 1rem -0.5rem hsl(var(--clr-gray-600) / 0.5);
  z-index: 2;
}

.categories-panel > :not(:last-child) {
  border-right: solid 2px hsl(var(--clr-gray-150));
}
.categories-panel > * {
  flex: 1;
}

.even-col {
  padding: 1rem;
}

.even-col > * {
  padding-bottom: 0.75rem;
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.category:hover {
  color: hsl(var(--clr-purple));
}

.hovered {
  color: hsl(var(--clr-purple));
}

.category img {
  width: 1.5rem;
}

.trusted-companies {
  margin-block: 3rem;
  text-align: center;
  background-color: hsl(var(--clr-gray-100));
  padding: 0rem 10rem;
  min-height: 15rem;
  display: grid;
  align-content: center;
  gap: 1rem;
}

.companies {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  place-items: center;
}

@media (max-width: 61.25rem) {
  .companies {
    grid-template-columns: repeat(4, 1fr);
  }
}

.selection-of-courses {
  padding: 0rem min(6rem, 8vw);
}

.selection-of-courses ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding: 1rem 0rem;
}

.selection-of-courses ul a {
  color: hsl(var(--clr-gray-300));
  cursor: pointer;
}

.active {
  color: hsl(var(--clr-gray-600)) !important;
}

.course-tab-details {
  max-width: 50rem;
}

.course-tab-details p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.course-tab-details > * + * {
  margin-top: 0.5rem;
}

.courses {
  /* border: 2px solid greenyellow; */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 5) - 0.8rem);
  overflow: hidden;
  gap: 1rem;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

@media (max-width: 1200px) {
  .courses {
    grid-auto-columns: calc((100% / 4) - 0.7rem);
  }
}

@media (max-width: 980px) {
  .courses {
    grid-auto-columns: calc((100% / 3) - 0.65rem);
  }
}

@media (max-width: 700px) {
  .courses {
    grid-auto-columns: calc((100% / 2) - 0.55rem);
  }
}

@media (max-width: 600px) {
  .courses {
    grid-auto-columns: 100%;
  }
}

.card {
  scroll-snap-align: start;
}

.courses > * {
  /* border: 2px solid blue; */
}

.card > img {
  border: 2px solid hsl(var(--clr-gray-150));
}

.card > * + * {
  margin-top: 0.25rem;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.wrapper-normal {
  position: relative;
}

.btn-slider {
  color: hsl(var(--clr-gray-100));
  background-color: hsl(var(--clr-gray-400));
  position: absolute;
  top: 50%;
  --size: 3rem;
  display: grid;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  cursor: pointer;
}

.btn-right {
  right: 0.75rem;
}

.btn-left {
  left: 0.5rem;
}
