:root {
  --clr-purple: 257 70% 48%;
  --clr-white: 0 0% 100%;
  --clr-gray-600: 210 6% 7%;
}

/* Reset  */
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

svg,
img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  line-height: 1.5;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.image-contain {
  object-fit: contain;
  object-position: center;
}

.skill-up-banar p {
  color: hsl(var(--clr-white));
  text-align: center;
}

.skill-up-banar {
  background-color: hsl(var(--clr-purple));
  max-height: 4rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.btn-exit {
  width: 0.75rem;
  cursor: pointer;
}

.skill-up-ad {
  flex-grow: 1;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.carousel-main {
  position: relative;
  overflow: hidden;
}

.carousel-1 {
  transition: transform 1s;
}

main:has(.carousel-btn:hover) .carousel-1 {
  transform: translateX(100%);
}

.text-section {
  background-color: hsl(var(--clr-white));
  position: absolute;
  top: 4rem;
  left: 5rem;
  padding: 1.5rem;
  max-width: 35rem;
  box-shadow: 0 0 1rem -0.5rem hsl(var(--clr-gray-600) / 0.5);
}

.text-section p {
  max-width: 45ch;
}

.carousel-btn {
  background: hsl(var(--clr-gray-600));
  border-radius: 50%;
  aspect-ratio: 1;
  padding: 0.5rem;
  width: 2.5rem;
  position: absolute;
  top: 50%;
  --margin: 1rem;
  margin-left: var(--margin);
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.align-right {
  right: 0;
  margin-right: var(--margin);
}

nav {
  display: flex;
  box-shadow: 0rem 0.5rem 1rem -0.5rem hsl(var(--clr-gray-600) / 0.5);
  padding: 1rem 1.5rem;
  gap: 1rem;
  align-items: center;
}

header {
  z-index: 1;
  position: relative;
}

.flex {
  display: flex;
  gap: 0.5rem;
}

.logo {
  width: 6rem;
}
.magnifying-glass {
  width: 2rem;
}

.search-bar {
  border: solid 1px;
  border-radius: 2rem;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  flex: 2;
}
.search-bar input {
  border: none;
}

.search-bar input:focus {
  outline: 0px;
}

.button {
  padding: 0.75rem 1rem;
  outline: none;
  border: solid 1px;
  cursor: pointer;
}

.bg-clr-white {
  background: hsl(var(--clr-white));
}

.clr-white {
  color: hsl(var(--clr-white));
}
.bg-clr-black {
  background: hsl(var(--clr-gray-600));
}

.clr-black {
  color: hsl(var(--clr-gray-600));
}
